name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Deploy EC2
      uses: appleboy/ssh-action@master
      with:
        host: 54.173.89.244
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd repo-backend
          git pull origin main
          npm install
          npm run build
          pm2 restart backend